.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(255, 89, 90);
  border-radius: 4px;
  background: rgb(255, 89, 90);
  color: white;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
  display: inline-block;
  width: 80%;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ff4382;
  border-color: #ff4382;
}

.button--inverse {
  background: transparent;
  color: rgb(255, 89, 90);
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: rgb(255, 89, 90);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}