.form-control {
  margin: 3rem;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  background: #f8f8f8;
  border: 1px solid #ccc;
  font: inherit;
  margin: 1rem 0;
  padding: 0.15rem 0.25rem;
  width: 100%;
}

.form-control input:focus,
.form-control textarea:focus {
  background: #ebebeb;
  border-color: #510077;
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: rgb(255, 89, 90);
}

.form-control--invalid input,
.form-control--invalid textarea {
  background: #ffd1d1;
  border-color: rgb(255, 89, 90);
}

.button {
  background: rgb(255, 89, 90);
  border: 1px solid rgb(255, 89, 90);
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin-right: 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.button:focus {
  outline: none;
}
/* NADA */

.button:hover,
.button:active {
  background: #ff4382;
  border-color: #ff4382;
  color: white;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #979797;
  cursor: not-allowed;
}
