.recurso-item {
  margin: 1rem;
  width: calc(80% - 2rem);
  min-width: 17.5rem;
}

.recurso-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: rgb(0, 96, 114);
  height: 10rem;
}

.recurso-item a:hover,
.recurso-item a:active {
  background: rgb(108, 202, 152);
}

.recurso-item__contenido {
  padding: 0;
  background: rgb(0, 96, 114);
}

.recurso-item__imagen {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.recurso-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: rgb(255, 89, 90);
}

.recurso-item a:hover h2,
.recurso-item a:active h2,
.recurso-item a:hover h3,
.recurso-item a:active h3 {
  color: #292929;
}

.recurso-item__info h3 {
  margin: 0;
}